# API 基础地址
VITE_APP_API_BASE_URL=http://localhost:8123/api

# 应用部署域名（用于访问已部署的应用）
VITE_APP_DEPLOY_BASE_URL=http://localhost

# 应用预览域名（用于预览生成的代码）
VITE_APP_PREVIEW_BASE_URL=http://localhost:8123/api/static
